@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700&display=swap');
body {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    margin: 0;
    background-color: white;
}

.content {
    background-image: url('../css/mapa-oryg.jpg');
    background-size: cover;
    height: 500px;
    /*tutaj poprawić bo coś nie halo*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content h1 {
color: #3399FF;
font-weight: bold;
font-size: 70px;
line-height: 20px;
padding: 20px;
}

.content h3 {
color: #0066CC;
font-size: 20px;
line-height: 20px;
padding: 20px 7px;
}

.contactme {
color: black;
font-size: 20px;
text-align: center;
padding: 10px;
}

.buttons {
box-sizing: border-box;
font-style: normal;
font-size: 15px;
line-height: 20px;
text-align: center;
}

button {
background: linear-gradient(250deg, #3399FF 15%, #0066CC 70%);
margin: auto 30px;
font-family: "Raleway", sans-serif;
color: white;
 
}

.about-content {
width: 100%;
}
.about-content img {
width: 25%;
display: inline-block;

}
#about {
 font-size: 25px;
 margin: 1.5vw 3vw;
}
.about-info {
    display:inline-block;
    position: absolute;
    left: 24vw;
    font-size: 1.3vw;
    font-weight: bold;
    line-height: 2.5vw;
}
ul {
    list-style-type: none;

}
.about-text {
    width: 40vw;
    height: 15vw;
    display:inline-block;
    position: absolute;
    justify-content: flex-end;
    font-size: 1.2vw;
    line-height: 2.3vw;
    text-align: justify;
    right: 4%;
    border-left: dotted;
    padding: 0 2vw;

}
#skills-style {
    display: flex;
    justify-content: center;
    margin: 5vw auto;
    font-size: 2vw;
    font-weight: bold;
}
#skill-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2.2vw;
}

#skill-font {
    font-size: 1.3vw;
}
