@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700&display=swap');
body {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

nav li {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 6px;
}

a {
    text-decoration: none;
}

a:visited{
    color: gray;
}

a:hover{
    color: #0066CC;
}

.content {
    background-image: url('../css/mapa-oryg.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content h1 {
    color: #3399FF;
    font-weight: bold;
    font-size: 70px;
    line-height: 20px;
    padding: 20px;
}

.content h3 {
    color: #3399FF;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 15px;
}

.contactme {
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.buttons {
    box-sizing: border-box;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

button {
    background: linear-gradient(250deg, #3399FF 15%, #0066CC 70%);
    margin: 10px 30px;
    font-family: "Raleway", sans-serif;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
}

button:hover {
    background: #BBDEFB;
    color: #0066CC;
}

.about-content {
    width: 100%;
}

.about-content img {
    width: 25%;
    display: inline-block;
}

.about-info {
    display: inline-block;
    position: absolute;
    font-size: 1.3vw;
    font-weight: bold;
    line-height: 2.5vw;
}

ul {
    list-style-type: none;
}

.about-text {
    width: 40vw;
    height: 15vw;
    display:inline-block;
    position: absolute;
    justify-content: flex-end;
    font-size: 1.2vw;
    line-height: 2.3vw;
    text-align: justify;
    right: 4%;
    border-left: dotted;
    padding: 0 1vw;
}

#title-style {
    display: flex;
    justify-content: center;
    margin: 5vw auto;
    font-size: 2vw;
    font-weight: bold;
}

#skill-list {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2.2vw;
}

#skill-font {
    font-size: 1.3vw;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 1vw solid gray;
    height: 70vw;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    background-color: #D2D2D2;
}

.photo {
    margin: 0.7vw;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    border: 1vw solid gray;
    height: 28vw;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    background-color: #90CAF9;
}

.contact-data {
    width: 35%;
    height: 25vw;
    font-size: 1.1vw;
    margin: 10px;
}

.form {
    width: 30vw;
}

.form input {
    width: 20vw;
    margin: 3px;
    padding:20px;
    border-radius: 10px;
}
