
.icon-desktop:before { content: '\e800'; } /* '' */
.icon-briefcase:before { content: '\e801'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */